.body{
	font-family: 'M PLUS 1p', sans-serif;
}
.bg-nav {
	background-color: #F2D5F8;
	width: 100%;
}
.btn-color{
	background-color: rgb(219, 119, 4);
}
.txt-nosotros {
	text-align: justify;
	width: 100%;
}
.encabezado{
	text-align: center;
	padding: 15px;
	
}

.card-border {
	border-color: rgb(132, 37, 209);
	border-style: double;
}

h1{
	padding: 15px;
}
/* seccion mapa */
.mapa {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding-left: 30px;
	padding-top: 10px;
	padding: 10px;
}
/* estilo formulario */
.contacto-img {
	width: 100%;
}
.formulario {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
.footer{
	text-align: center;
	justify-content: space-between;
	align-items: flex-start;
	padding: 25px;
	width: 100%;
	background-color: #F2D5F8;
}
.footer-txt{
	justify-items: center;
	font-size: 15px;
}

/* media queris responsive movile */
@media only screen and (min-width: 0px) and (max-width: 767px)
{
	
	footer
	{
	align-content: center;
	text-align: justify;
	width: 100%;
	background-color: #F2D5F8;
	font-size: 15px;
	}
	

}

